:root {
  --primary-color: hsl(332, 91%, 46%);
  --secondary-color: hsl(332, 91%, 46%);
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;

  --facebook-color: #4267b2;
  --google-color: #db4437;
  --twitter-color: #1da1f2;
  --insta-color: #de5d88;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.col {
  width: 50%;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-wrapper {
  width: 100%;
  max-width: 28rem;
}

.form {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(0);
  transition: 0.5s ease-in-out;
  transition-delay: 1s;
}

.input-group {
  position: relative;
  width: 100%;
  margin: 1rem;
}

.input-group i {
  position: absolute;
  top: 40%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--gray-2);
}

.input-group input {
  width: 95%;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 0.1rem solid #bfb1a4;
  outline: none;
  margin-right: 1rem;
}

.input-group input:focus {
  border: 0.125rem solid #497faf;
}

.form button {
  cursor: pointer;
  width: 100%;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
  border: none;
  background-color: #497faf;
  color: var(--white);
  font-size: 1.2rem;
  outline: none;
}

.form p {
  margin: 1rem 0;
  font-size: 0.7rem;
}

.flex-col {
  flex-direction: column;
}

.social-list {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0);
  transition: 0.5s ease-in-out;
  transition-delay: 1.2s;
}

.social-list > div {
  color: var(--white);
  margin: 0 0.5rem;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 0.5rem;
  cursor: pointer;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}

.social-list > div:nth-child(1) {
  transition-delay: 1.4s;
}

.social-list > div:nth-child(2) {
  transition-delay: 1.6s;
}

.social-list > div:nth-child(3) {
  transition-delay: 1.8s;
}

.social-list > div:nth-child(4) {
  transition-delay: 2s;
}

.social-list > div > i {
  font-size: 1.5rem;
  transition: 0.4s ease-in-out;
}

.social-list > div:hover i {
  transform: scale(1.5);
}

.facebook-bg {
  background-color: var(--facebook-color);
}

.google-bg {
  background-color: var(--google-color);
}

.twitter-bg {
  background-color: var(--twitter-color);
}

.insta-bg {
  background-color: var(--insta-color);
}

.pointer {
  cursor: pointer;
}

.container.sign-in .form.sign-in,
.container.sign-in .social-list.sign-in,
.container.sign-in .social-list.sign-in > div,
.container.sign-up .form.sign-up,
.container.sign-up .social-list.sign-up,
.container.sign-up .social-list.sign-up > div {
  transform: scale(1);
}

.content-row {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 6;
  width: 100%;
}

.text {
  margin: 4rem;
  color: var(--white);
}

.text h2 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 2rem 0;
  transition: 1s ease-in-out;
}

.text p {
  font-weight: 600;
  transition: 1s ease-in-out;
  transition-delay: 0.2s;
}

.img img {
  width: 30vw;
  transition: 1s ease-in-out;
  transition-delay: 0.4s;
}

.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
  transform: translateX(-250%);
}

.text.sign-up h2,
.text.sign-up p,
.img.sign-up img {
  transform: translateX(250%);
}

.container.sign-in .text.sign-in h2,
.container.sign-in .text.sign-in p,
.container.sign-in .img.sign-in img,
.container.sign-up .text.sign-up h2,
.container.sign-up .text.sign-up p,
.container.sign-up .img.sign-up img {
  transform: translateX(0);
}

/* BACKGROUND */

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300vw;
  transform: translate(35%, 0);
  background: #497faf;
  transition: 1s ease-in-out;
  z-index: 6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-right-radius: max(50vw, 50vh);
  border-top-left-radius: max(50vw, 50vh);
}

.container.sign-in::before {
  transform: translate(0, 0);
  right: 50%;
}

.container.sign-up::before {
  transform: translate(100%, 0);
  right: 50%;
}

/* RESPONSIVE */

@media only screen and (max-width: 425px) {
  .container::before,
  .container.sign-in::before,
  .container.sign-up::before {
    height: 100vh;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 0;
    transform: none;
    right: 0;
  }

  /* .container.sign-in .col.sign-up {
        transform: translateY(100%);
    } */

  .container.sign-in .col.sign-in,
  .container.sign-up .col.sign-up {
    transform: translateY(0);
  }

  .content-row {
    align-items: flex-start !important;
  }

  .content-row .col {
    transform: translateY(0);
    background-color: unset;
  }

  .col {
    width: 100%;
    position: absolute;
    padding: 2rem;
    background-color: var(--white);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transform: translateY(100%);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
  }

  .row {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .form,
  .social-list {
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .text {
    margin: 0;
  }

  .text p {
    display: none;
  }

  .text h2 {
    margin: 0.5rem;
    font-size: 2rem;
  }
}

/* new style to breaf  */

body {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal 500 1.5rem/1.3 arial;
  background: white;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7rem;
  height: 7rem;
  margin-top: -5rem;
  margin-left: -5rem;
  transform: rotate(45deg);
  animation: spin 1.35s cubic-bezier(0.32, 1, 0.39, 0.94) 0s infinite normal;
  --webkit-border-radius: ;
  --moz-border-radius: ;
  --ms-border-radius: ;
  --o-border-radius: ;
  --webkit-animation: spin 1.35s cubic-bezier(0.32, 1, 0.39, 0.94) 0s infinite
    normal;
}

li {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  list-style: none;
  /* transition: 2sc; */
  /* -webkit-transition: 2sc;
    -moz-transition: 2sc;
    -ms-transition: 2sc;
    -o-transition: 2sc;
 */
}

li:first-child {
  top: 0;
  left: 0;
  background: #d62d20;
  animation: tl-center 0.65s cubic-bezier(0.78, 0.13, 0.75, 0.13) 0s infinite
    alternate;
}

li:nth-child(2) {
  top: 0;
  right: 0;
  background: #008744;
  animation: tr-center 0.65s cubic-bezier(0.78, 0.13, 0.75, 0.13) 0s infinite
    alternate;
}

li:nth-child(3) {
  bottom: 0;
  right: 0;
  background: #0057e7;
  animation: br-center 0.65s cubic-bezier(0.78, 0.13, 0.75, 0.13) 0s infinite
    alternate;
}

li:last-child {
  bottom: 0;
  left: 0;
  background: #ffa700;
  animation: bl-center 0.65s cubic-bezier(0.78, 0.13, 0.75, 0.13) 0s infinite
    alternate;
}

@keyframes spin {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes tl-center {
  to {
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
  }
}

@keyframes tr-center {
  to {
    top: 50%;
    right: 50%;
    margin-top: -1rem;
    margin-right: -1rem;
  }
}

@keyframes br-center {
  to {
    bottom: 50%;
    right: 50%;
    margin-bottom: -1rem;
    margin-right: -1rem;
  }
}

@keyframes bl-center {
  to {
    bottom: 50%;
    left: 50%;
    margin-bottom: -1rem;
    margin-left: -1rem;
  }
}
/* Password error */

#passwordError {
  display: none;
  /* this show in a min page */
  color: #db4437;
  font-size: 0.8rem;
}

.invalidMassage {
  display: none;
  margin: 0;
  padding: 0;
  color: #db4437;
}

/* pass input  */

.passInput {
  display: flex;
}

.list-unstyled li ion-icon {
  font-size: 27px;
  margin-right: 8px;
  cursor: pointer;
}
.withIcon {
  display: flex;
  justify-content: center;
}

.index i,
.index ion-icon {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  font-size: 1.4rem;
  color: var(--gray-2);
}
.index ion-icon {
  right: 2rem;
  cursor: pointer;
}
:host {
  display: inline-block;
  width: 1em;
  height: 1em;
  left: 85%;
  contain: strict;
  fill: currentcolor;
  box-sizing: content-box !important;
}
.bxs-user:before,
.bxs-lock-alt:before,
.bx-mail-send:before,
#signInIcon,
#signupIcon,
#signupIconConfirm {
  color: #497faf;
}
