:root {
  /* COLORS */
  --white: #e9e9e9;
  --gray: #333;
  --blue: #0367a6;
  --lightblue: #008997;

  /* RADII */
  --button-radius: 0.7rem;

  /* SIZES */
  --max-width: 758px;
  --max-height: 420px;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

/* Side task */
.wrapper {
  display: flex;
  margin-top: 30px;
}

#sidebar1 {
  width: 259px;
  z-index: 999;
  background: #497faf;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: #fff;
  transition: all 0.3s;
}

.components {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 217px;
  height: 450px;
  margin: 0 auto;
}

#welcomeName {
  width: 300px;
  font-size: 25px;
}

.sidebar-header {
  margin: 10px;
}

.collapse li {
  text-align: center;
}

.collapse li:hover {
  background-color: #0367a6;
  cursor: pointer;
}

.list-unstyled li {
  padding: 5px;
}

.list-unstyled li a {
  text-decoration: none;
  color: white;
}

.withIcon {
  display: flex;
  justify-content: center;
}

.list-unstyled li ion-icon {
  font-size: 27px;
  margin-right: 8px;
  cursor: pointer;
}

/* Task form */
.index-append {
  cursor: pointer;
}

.taskB {
  color: rgb(84, 83, 83);
  background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.taskform .card {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.taskform .card .input-group {
  width: 70%;
  margin: 0 auto;
  outline: none !important;
}

.taskform .card .form-check {
  margin: 0 auto;
}

.taskform .card input {
  padding: 10px;
  margin: 10px;
}

.taskform .card button {
  background-color: #497faf;
  outline: none;
  color: white;
  border: none;
  width: 100px;
}

.taskform .card button:hover,
.taskform .card button:focus {
  background-color: #0367a6;
  outline: none;
}

.input-daterange {
  display: flex;
  align-items: center;
}

.buttons {
  text-align: center;
}

:root {
  --primary-color: hsl(332, 91%, 46%);
  --secondary-color: hsl(332, 91%, 46%);
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;

  --facebook-color: #4267b2;
  --google-color: #db4437;
  --twitter-color: #1da1f2;
  --insta-color: #de5d88;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.indexBody {
  height: 100vh;
  overflow: hidden;
}

.card-text {
  height: 125px;
  width: 90%;
  margin: 10px auto;
  overflow: auto;
}
#cards {
  width: 90%;
  margin: 60px auto 0px auto;
}
#cards h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #396387;
  letter-spacing: 2px;
}
#cards .card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border: none;
}

#cards .card .card-header {
  background-color: white !important;
}

#cards .card div.input-group .input-group-text {
  background-color: white;
}

#cards .card div.input-group .input-group-text:nth-child(2) {
  width: 40px;
}

#cards .card div.input-group .input-group-text:nth-child(1),
#cards .card div.input-group .input-group-text:nth-child(3) {
  width: 94px;
  justify-content: center;
}

#cards .card .card-header span:nth-child(1) {
  color: #0367a6;
  font-size: 20px;
}

#cards .card .card-footer {
  background-color: #bfb1a4;
  height: 50px;
}

#cards .card .card-footer span {
  color: white !important;
  padding: 2px;
  margin: 3px;
  letter-spacing: 2px;
}

header nav .btn {
  background-color: #bfb1a4;
  border: none;
}

nav .btn:hover {
  background-color: var(--gray-2);
}

.fa-pen-to-square {
  color: #0367a6;
}

.d-inline-flex {
  align-items: center;
  padding: 6px;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-wrapper {
  width: 100%;
  max-width: 28rem;
}

.form {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0);
  transition: 0.5s ease-in-out;
  transition-delay: 1s;
}

.index {
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

.index input {
  width: 100%;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: var(--gray);
  border-radius: 0.5rem;
  border: 0.125rem solid var(--white);
  outline: none;
}

.index input:focus {
  border: 0.125rem solid var(--primary-color);
}

.form button {
  cursor: pointer;
  width: 100%;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.2rem;
  outline: none;
}

.form p {
  margin: 1rem 0;
  font-size: 0.7rem;
}

.social-list {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0);
  transition: 0.5s ease-in-out;
  transition-delay: 1.2s;
}

.social-list > div {
  color: var(--white);
  margin: 0 0.5rem;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 0.5rem;
  cursor: pointer;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}

.social-list > div:nth-child(1) {
  transition-delay: 1.4s;
}

.social-list > div:nth-child(2) {
  transition-delay: 1.6s;
}

.social-list > div:nth-child(3) {
  transition-delay: 1.8s;
}

.social-list > div:nth-child(4) {
  transition-delay: 2s;
}

.social-list > div > i {
  font-size: 1.5rem;
  transition: 0.4s ease-in-out;
}

.social-list > div:hover i {
  transform: scale(1.5);
}

.facebook-bg {
  background-color: var(--facebook-color);
}

.google-bg {
  background-color: var(--google-color);
}

.twitter-bg {
  background-color: var(--twitter-color);
}

.insta-bg {
  background-color: var(--insta-color);
}

.pointer {
  cursor: pointer;
}

.container.sign-in .form.sign-in,
.container.sign-in .social-list.sign-in,
.container.sign-in .social-list.sign-in > div,
.container.sign-up .form.sign-up,
.container.sign-up .social-list.sign-up,
.container.sign-up .social-list.sign-up > div {
  transform: scale(1);
}

.text {
  margin: 4rem;
  color: var(--white);
}

.text h2 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 2rem 0;
  transition: 1s ease-in-out;
}

.text p {
  font-weight: 600;
  transition: 1s ease-in-out;
  transition-delay: 0.2s;
}

.img img {
  width: 30vw;
  transition: 1s ease-in-out;
  transition-delay: 0.4s;
}

.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
  transform: translateX(-250%);
}

.text.sign-up h2,
.text.sign-up p,
.img.sign-up img {
  transform: translateX(250%);
}

.container.sign-in .text.sign-in h2,
.container.sign-in .text.sign-in p,
.container.sign-in .img.sign-in img,
.container.sign-up .text.sign-up h2,
.container.sign-up .text.sign-up p,
.container.sign-up .img.sign-up img {
  transform: translateX(0);
}

/* BACKGROUND */

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300vw;
  transform: translate(35%, 0);
  background-image: linear-gradient(
    -45deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  transition: 1s ease-in-out;
  z-index: 6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-right-radius: max(50vw, 50vh);
  border-top-left-radius: max(50vw, 50vh);
}

.container.sign-in::before {
  transform: translate(0, 0);
  right: 50%;
}

.container.sign-up::before {
  transform: translate(100%, 0);
  right: 50%;
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  .container::before,
  .container.sign-in::before,
  .container.sign-up::before {
    height: 100vh;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 0;
    transform: none;
    right: 0;
  }

  /* .container.sign-in .col.sign-up {
      transform: translateY(100%);
  } */

  .container.sign-in .col.sign-in,
  .container.sign-up .col.sign-up {
    transform: translateY(0);
  }

  .form,
  .social-list {
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .text {
    margin: 0;
  }

  .text p {
    display: none;
  }

  .text h2 {
    margin: 0.5rem;
    font-size: 2rem;
  }
}

/* Password error */

#passwordError {
  display: none;
  color: #db4437;
  font-size: 0.8rem;
}

.invalidMassage {
  display: none;
  margin: 0;
  padding: 0;
  color: #db4437;
}

/* pass input  */

.passInput {
  display: flex;
}

.index i,
.index ion-icon {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  font-size: 1.4rem;
  color: var(--gray-2);
}

.index i {
  left: 1rem;
}

.index ion-icon {
  right: 1rem;
  cursor: pointer;
}

/* edit the cards view and their responsiveity */
.cards {
  width: 90%;
}

footer {
  background-color: black;
}

/* style by turkyeh   */
.fa-solid {
  font-size: 18px;
  cursor: pointer;
}

.fa-check-circle:before,
.fa-circle-check:before {
  color: #479c38;

  padding-left: 40%;
}

/* ======Responsive============================ */

@media (max-width: 950px) {
  .wrapper #sidebar1 {
    justify-content: center;
    width: 100px;
    color: white;
  }

  .wrapper #sidebar1 a,
  #welcomeName {
    display: none;
  }

  #sidebar1 ul {
    width: 100px;
  }

  #sidebar1 li {
    cursor: pointer;
    position: relative;
  }

  .components {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 217px;
    height: 450px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .components {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 217px;
    height: 450px;

    margin: 0 auto;
  }
}

/* ================================================================== */

.input-group-text {
  width: 300px;
}

.form-check-input[type="radio"] {
  background-color: #bfb1a4;
  margin: 5px !important;
  border: none;
  cursor: pointer;
}

.taskCard:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
input[type="checkbox"] {
  /* Double-sized Checkboxes */
  width: 100%;
  transform: scale(2);
  border: none;
  accent-color: green !important;
}
input[type="checkbox"]:hover {
  accent-color: green !important;
}
