:root {
  /* COLORS */
  --white: #e9e9e9;
  --gray: #333;
  --blue: #0367a6;
  --lightblue: #008997;

  /* RADII */
  --button-radius: 0.7rem;

  /* SIZES */
  --max-width: 758px;
  --max-height: 420px;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

/* Side task */
.wrapper {
  display: flex;
  margin-top: 20px;
}
#sidebar1 {
  width: 250px;
  margin-left: 20px;

  height: 80vh;
  z-index: 999;
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
}
#sidebar2 {
  display: flex;
  justify-content: center;
  width: 100px;
  color: white;
  background: #7386d5;
  transform: translateX(-100%);
}
#sidebar2 li {
  cursor: pointer;
  position: relative;
}
#sidebar2 li span {
  position: absolute;
  width: 150px;
  background-color: #435dc4;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  display: none;
}
#sidebar2 li span::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #435dc4 transparent transparent;
}
#sidebar2 li:hover span {
  display: initial;
}
.side2components {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.components {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  width: 181px;
  margin: 0 auto;
}

.collapse li {
  text-align: center;
}
.collapse li:hover {
  background-color: #6076cf;
  cursor: pointer;
}
.list-unstyled li {
  padding: 10px;
}

.list-unstyled li a {
  text-decoration: none;
  color: white;
}
.withIcon {
  display: flex;
  justify-content: center;
}
.list-unstyled li ion-icon {
  font-size: 27px;
  margin-right: 8px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .wrapper #sidebar1 {
    display: none;
  }

  .wrapper #sidebar2 {
    transform: translateX(0);
    transition: 0.5s ease;
  }
}
@media (min-width: 950px) {
  .wrapper #sidebar2 {
    transition: 0.5s ease;
  }
}

@media (max-width: 450px) {
  #sidebar2 {
    width: 50px;
    font-size: 15px;
  }
}

/* Task form */
.input-group-append {
  cursor: pointer;
}
.taskform .card {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.input-daterange {
  display: flex;
  align-items: center;
}

.buttons {
  text-align: center;
}
